.group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    padding: 2px;
}

.group:hover {
    box-shadow: inset 0 0 60px 15px rgba(255, 255, 255, 0.1);
    border-color: rgb(133, 133, 133);
    border-width: 1px;
}

.group-name {
    width: 2%;
    margin: 5px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
}

.task-list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
